/* Tamaño del logo */
.sidebar-wrapper .sidebar-header img {
    height: 2.9rem;
}


.sidebar-wrapper .menu .sidebar-item.active>.sidebar-link {
    background-color: #00d37f;
}


.sidebar-wrapper .menu .sidebar-link i,
.sidebar-wrapper .menu .sidebar-link svg {
    color: #014751;
}

.sidebar-wrapper .menu .sidebar-link i.bi {
    height: 1.5rem;
    font-size: 1.5rem;
}

#auth {
    overflow: hidden;
    height: 100%;
    max-width: 100%;
}


#auth #auth-left {
    padding: 7.5rem;
}


#auth #auth-right {
    background: radial-gradient(#014751, #0f2830);
    display: flex;
    height: 100%;
}

#auth-right img {
    opacity: 0.5;
    width: 70%;
    margin: auto;
}

.dataTable-table>tbody>tr>td,
.dataTable-table>tbody>tr>th,
.dataTable-table>tfoot>tr>td,
.dataTable-table>tfoot>tr>th,
.dataTable-table>thead>tr>td,
.dataTable-table>thead>tr>th {
    vertical-align: middle;
}

.dataTable-table>tbody>tr>td>img {
    border-radius: 50%;
}

.colors {
    color: #00d37f #014751 #0f2830 #f8fbff #aff8c8 #ffeeb4 #d2c4fb;
}