<!-- templates/books/book_list.html -->
{% extends "_base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Calcular Similitud - SpySoccer{% endblock title %}
{% block styles %}

{% endblock %}


{% block content %}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                {% block titular %}{% endblock titular %}
                <h2>Valores para el Análisis de Similitud de jugadores</h2>
                <p class="text-subtitle text-muted">Selecciona los valores del Index que quieras usar con el que
                    filtraremos por Posición, además de
                    seleccionar una serie de métricas sobre las que se compararán a los jugadores del contexto.</p>
                <p class="text-subtitle text-muted">En esta versión <i>alpha</i> de <b>SpySoccer</b>, la adición de
                    nuevos
                    Index está limitada.</p>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card col-12 col-md-6">
            <div class="card-header">
            </div>
            <div class="card-body">
                <form method="post">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <button class="btn icon icon-left btn-success" type="submit">Calcular Similitudes
                    </button>
                </form>

            </div>
        </div>
    </section>
</div>


{% block scripts %}


{% endblock scripts %}


{% endblock content %}