<!-- templates/books/book_list.html -->
{% extends "_base.html" %}
{% load static %}
{% block title %}Cálculos de Scoring - SpySoccer{% endblock title %}
{% block styles %}
<link rel="stylesheet" href="{% static 'assets/css/pages/simple-datatables.css' %}">
{% endblock %}


{% block content %}

<div class="page-heading">
    <div class="page-title">
        <div class="row">
            <div class="col-12 col-md-6 order-md-1 order-last">
                {% block titular %}{% endblock titular %}
                <h2>Listado de cálculos de Scoring realizados</h2>
                <p class="text-subtitle text-muted">En este listado podemos ver las veces que se han recalculado los
                    Scoring de los jugadores, y con qué index y contexto se han calculado. </p>
            </div>
            <div class="col-12 col-md-6 order-md-2 order-first">
                <button class="btn float-start float-lg-end">
                    <a class="btn icon icon-left btn-info" href="{% url 'scoring_request' %}">Calcular nuevo Scoring</a>
                </button>
            </div>
        </div>
    </div>
    <section class="section">
        <div class="card">
            <div class="card-header">
                <p></p>
            </div>
            <div class="card-body">
                <table class="table table-striped" id="table1">
                    <thead>
                        <tr>
                            <th>Fecha del cálculo</th>
                            <th>Index usado</th>
                            <th>Posición</th>
                            <th>Temporada</th>
                            <th>Mínimo de minutos</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for request in objects_list %}
                        <tr>
                            <td>{{ request.request_date }}</td>
                            <td>{{ request.index_used }}</td>
                            <td>{{ request.index_used.position_norm }}</td>
                            <td>{{ request.season_request }}</td>
                            <td>{{ request.minutes_played_min }}</td>
                            <td><a href="{% url 'players_list' %}" title="Crear Informe de Jugador"><span
                                        class="fa-fw select-all fas"></span></a>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>

                </table>


            </div>
        </div>
    </section>
</div>


{% block scripts %}


<script src="{% static 'assets/js/extensions/simple-datatables.js' %}"></script>

{% endblock scripts %}


{% endblock content %}