{% load static %}
{% load menu %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
        {% block title %}
        SpySoccer
        {% endblock title %}
    </title>

    <link rel="stylesheet" href="{% static 'assets/css/main/app.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/main/app-dark.css' %}"> -->
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.svg' %}" type="image/x-icon">
    <link rel="shortcut icon" href="{% static 'assets/images/logo/favicon.png' %}" type="image/png">
    <link rel="stylesheet" href="{% static 'assets/css/shared/iconly.css' %}">

    <!-- CSS propio SpySoccer-->
    <link rel="stylesheet" href="{% static 'assets/css/spysoccer_base.css' %}">
</head>

<body>
    <div id="app">
        <div id="main" class="d-flex flex-column min-vh-100">
            <header class="mb-3">
                <a href="#" class="burger-btn d-block d-xl-none">
                    <i class="bi bi-justify fs-3"></i>
                </a>
            </header>
            {% include '_sidebar.html' %}

            <div class="page-heading">
                <h3>{% block titular %}Página de inicio - Dashboard inicial{% endblock titular %}</h3>
            </div>
            <div class="page-content">

                {% block content %}

                {% endblock content %}

            </div>
            <footer class="mt-auto">
                <div class="footer clearfix mb-0 text-muted">
                    <div class="float-start">
                        <p>2021 &copy; Juanje Márquez</p>
                    </div>
                    <div class="float-end">
                        <p>Test</p>
                    </div>
                </div>
            </footer>

        </div>
    </div>
    <script src="{% static 'assets/js/app.js' %}"></script>
    <script src="{% static 'assets/js/pages/dashboard.js' %}"></script>

    <!-- JavaScript propio de SpySoccer -->
    <script src="{% static 'assets/js/base.js' %}"></script>


</body>

</html>